{% extends "base.html" %}
{% load static %}
{% block header %}
<title>{{plant.nick_name}} - Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/plant.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/like_animation.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/set_thumbnail.css' %}">
{% endblock %}
{% block content %}
<section class='section'>
    <div class='box'>
    <div class='columns'>

        <!--Plant pictures-->
        <div class='column is-half'>
            {% include "plant_collection/assets/carousel.html" %}
            {% if user == plant.owner %}
            <button class='button is-small is-responsive mustard-button' onclick="modal.showModal()" style='margin-top:1vh'>Change Thumbnail</button>

            <dialog id='modal' style="padding: 0" onclick="event.target==this && this.close()">
                <h2 class='title is-size-3-widescreen is-size-4-desktop is-size-4-touch has-text-centered' style='margin:0;'>Select Thumbnail</h2>
                <form action="{% url 'plant_collection:plant_view' slug=plant.slug %}" method="post" class='columns is-multiline' id='thumbnail-form'>
                    {% csrf_token %}
                    {% for picture in plant.picture.all %}
                    <div class='column is-6-tablet is-4-widescreen'>
                        {% if picture == plant.thumbnail.image %}
                        <figure class='image is-4by3 thumbnail selected' id='{{ picture }}'>
                            <img src="{{ picture.image.url }}" alt="Picture of a plant">
                        </figure>
                        {% else %}
                        <figure class='image is-4by3 thumbnail' id='{{ picture }}'>
                            <img src="{{ picture.image.url }}" alt="Picture of a plant">
                        </figure>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="thumbnail" id="thumbnail">
                    <div style="width:100%; padding-left:17px">
                        <input class='button forest-green-button' type="submit" value='Save'>
                    </div>
                    <button class='modal-close' onclick="modal.close()">close</button>
                </form>
            </dialog>
            {% endif %}
        </div>

        <!--Plant properties-->
        <div class='column is-half is-narrow grid' >

            {% if user == plant.owner %}
            <div class='container is-flex is-justify-content-flex-end' style='gap:1vw; grid-area:icons;'>
                <a href="{% url 'plant_collection:update_plant' slug=plant.slug %}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class='modal_open decline-text' tabindex=0><i class="fa-regular fa-trash-can"></i></a>
            </div>

            <div class='modal'>
                <div class='modal-background'></div>
                <div class='modal-content'>
                    <form action="{% url 'plant_collection:plant_view' slug=plant.slug %}" method='post'>
                        {% csrf_token %}
                        <div class='box'>
                            <div class='block'>Are you sure you want to delete {{plant.nick_name}}?</div>
                            <input class='button decline-button' type='submit' value='Yes, I am sure'>
                        </div>
                    </form>
                </div>
                <button class='modal-close is-large' aria-label='close'></a>
            </div>
            {% endif %}



            <h3 class='title is-size-3-widescreen is-size-4-desktop is-size-5-touch forest-green' style='grid-area:title;'>
                {{plant.nick_name}}
            </h3>

            <div style="grid-area:subtitle;">
                {% if plant.picture.all %}
                <h4 class='subtitle is-size-5-widescreen is-size-6-desktop is-size-6-touch'>
                    {% if user == plant.owner %}
                        <span>Owner: <strong>{{plant.owner}}</strong></span>
                    {% else %}
                        <span class='icon-text'>
                            <span>Owner: <strong>{{plant.owner}}</strong></span>
                            <span class='icon'>
                                <a href="{% url 'accounts:write_message' name=plant.owner %}"><i class="fa-solid fa-envelope fa-xs"></i></a>
                            </span>
                        </span>
                    {% endif %}
                </h4>

                {% if plant.species %}
                <h3 class='subtitle is-size-6-desktop is-size-7-touch'>
                    Specie: <a href="{% url 'plant_collection:species_list' nam=plant.species|slugify %}" >{{plant.species}}</a>
                </h3>
                {% endif %}

                {% if plant.location %}
                <h3 class='subtitle is-size-6-desktop is-size-7-touch'>
                    Location: <strong>{{plant.location}}</strong>
                </h3>
                {% else %}
                <h3 class='subtitle is-size-6-desktop is-size-7-touch'>
                    Location: <strong>Unknown</strong>
                </h3>
                {% endif %}
                {% endif %}
            </div>


            <div class='container is-flex is-justify-content-right' style="grid-area:likes">
                <div>
                    {% csrf_token %}
                    {% if not user in plant.likes.all %}
                    <div>
                        <a class='heart' tabindex=0 data-plant='{{ plant.id }}' data-user='{{ user }}'><i class="fa-regular fa-heart has-text-danger"></i></a>
                    </div>
                    {% elif user in plant.likes.all %}
                    <div>
                        <a class='heart' tabindex=0 data-plant='{{ plant.id }}' data-user='{{ user }}'><i class="fa-solid fa-heart has-text-danger"></i></a>
                    </div>
                    {% endif %}
                    <div class='number_likes is-size-7 has-text-weight-bold' data-plant='{{ plant.id }}'>
                        {{ plant.number_of_likes }} like/s
                    </div>
                </div>
            </div>

            {% if plant.content != None %}
            <div class='is-flex is-justify-content-center' style="grid-area:content">
                <div class='content' style="width:80%">
                    <p>{{plant.content|linebreaks}}</p>
                </div>
            </div>
            {% endif %}



            <div style="grid-area:trade">
                {% if plant.for_trade %}
                <div class='icon-text has-text-weight-semibold is-size-6-desktop is-size-7-touch is-flex is-justify-content-center'>
                    <span class='icon'>
                        <i class="fa-solid fa-store"></i>
                    </span>
                    For Trade
                </div>
                {% elif not plant.for_trade %}
                <span class='icon-text has-text-weight-semibold is-size-6-desktop is-size-7-touch is-flex is-justify-content-center'>
                    <span class='icon'>
                        <i class="fa-solid fa-store-slash "></i>
                    </span>
                    Not for Trade
                </span>
                {% endif %}

                {% if user.is_authenticated %}
                {% if user == plant.owner %}
                <div>
                    <a href="{% url 'plant_collection:plant_offers' slug=plant.slug %}" class='button mustard-button is-large is-responsive mt-2'>See Offers</a>
                </div>
                {% elif not user == plant.owner %}
                {% if plant.for_trade %}
                <div>
                    <a href="{% url 'plant_collection:trade' req=plant.slug %}" class='button mustard-button is-large is-responsive mt-2'>Offer trade</a>
                </div>
                {% elif not plant.for_trade %}
                <div>
                    <button class='button mustard-button is-large is-responsive mt-2' disabled>
                        Offer trade
                    </button>
                </div>
                {% endif %}
                {% endif %}
                {% else %}
                <div>
                    <button class='button mustard-button is-large is-responsive mt-2' disabled>
                        Offer trade
                    </button>
                </div>
                {% endif %}
            </div>




        </div>
    </div>
    </div>
</section>
<script type='text/javascript' src="{% static 'plant_collection/javascript/plant_carousel.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/delete_modal.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like_animations.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/set_thumbnail.js' %}"></script>
{% endblock %}