<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3W2CF61467"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3W2CF61467');
    </script>


    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "plant_collection/css/base.css" %}">
    <link rel="stylesheet" href="{% static 'plant_collection/css/hover.css' %}">
    <link rel="stylesheet" href="{% static 'plant_collection/css/divider.css' %}">
    <link rel="icon" href="{% static 'plant_collection/favicon/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'plant_collection/css/coloring.css' %}">
    <link rel="stylesheet" href="{% static 'plant_collection/css/message_dot.css' %}">
    <link rel="stylesheet" href="{% static 'plant_collection/css/more_base.css' %}">
    <link rel="stylesheet" href="{% static 'plant_collection/css/object_fit.css' %}">
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/b2e6637db0.js" crossorigin="anonymous"></script>
    <!--Jquery-->
    <script src="{% static 'plant_collection/javascript/jquery.js' %}"></script>
    <!--Htmx-->
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <!--This library might be overkill-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"></script>
    {% block header %}{% endblock header %}
</head>

<body>
    <div style='position: sticky; top:0px; z-index: 2;'>
        <nav class='navbar sage-green'>

            <div class='navbar-brand'>
                <a href="{% url 'plant_collection:front_page' %}" class='navbar-item is-tab forest-green'>
                    <span class='icon-text'><span class='icon'><i
                                class="fa-solid fa-house"></i></span><span>Home</span></span>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'plant_collection:personal_collection' %}" class='navbar-item is-tab forest-green'>
                    <span class='icon-text'><span class='icon'><i class="fa-solid fa-leaf"></i></span><span>My
                            collection</span></span>
                </a>
                {% endif %}

                <a role="button" class="navbar-burger forest-green" data-target="navMenu" aria-label="menu"
                    aria-expanded="false" tabindex=0>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

            </div>


            <div class='navbar-menu sage-green' id="navMenu">
                <div class='navbar-start'>
                    <a class='navbar-item is-tab forest-green is-hidden-desktop' id='spiece-search'
                        href="{% url 'plant_collection:mobile_specie_search' %}">
                        <span class='icon-text'><span class='icon'><i
                                    class="fa-solid fa-book"></i></span><span>Species</span></span>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:trades' %}" class='navbar-item is-tab forest-green'>
                        <span class='icon-text'><span class='icon'><i class="fa-solid fa-handshake"></i></span><span>My
                                Trade Offers</span></span>
                    </a>
                    <a href="{% url 'accounts:liked_list' %}" class='navbar-item is-tab forest-green'>
                        <span class='icon-text'><span class='icon'><i class="fa-solid fa-heart"></i></span><span>Liked
                                Plants</span></span>
                    </a>
                    {% endif %}
                </div>
                <div class='navbar-end'>
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:messages' %}" class='navbar-item forest-green is-tab'>
                        <span class="icon-text"><span class="icon"><i
                                    class="fa-solid fa-inbox"></i></span><span>Messages</span>
                            {% for message in user.received_messages.all %}
                            {% if message.read == False %}
                            <span class='dot'></span>
                            {% endif %}
                            {% endfor %}
                        </span>

                    </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}" class='navbar-item forest-green is-tab'>
                        <span class='icon-text'><span class='icon'><i
                                    class="fa-solid fa-power-off"></i></span><span>Logout</span></span>
                    </a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}" class='navbar-item forest-green is-tab'>
                        <span class='icon-text'><span class='icon'><i
                                    class="fa-solid fa-user"></i></span><span>Login/Signup</span></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class='divider'></div>
    </div>
    <main class='back-image' style='min-height:100vh; overflow:hidden;'>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="content has-text-centered is-size-7-touch">
            <p>
                Plant swap by <a href="https://github.com/Erengar">Adam Kubik</a>.
            </p>
        </div>
    </footer>
<script src="{% static 'plant_collection/javascript/tabs.js' %}"></script>
<script src="{% static 'plant_collection/javascript/navbar_burger.js' %}"></script>
<script src="{% static 'accounts/javascript/message_dot.js' %}"></script>
</body>
</html>