{% load static %}
<div class='columns mx-2'>
    <div class='column is-6'>
        <div class='box'>
            <div class='columns is-multiline'>
                <h2 class='title is-size-3-widescreen is-size-4-desktop is-size-4-touch'>Trade offers made to you</h2>
                {% for req in requests %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow trade-offer'>
                    <a href="{% url 'trades:trade_final' pk=req.pk %}">
                        <div class='columns is-gapless'>
                            <div class='column is-4-widescreen is-6-desktop is-6-tablet'>
                                {% if req.plant_offered.picture.all %}
                                    <div class='card-image'>
                                        {% if req.plant_offered.thumbnail %}
                                        <figure class='image is-4by3'>
                                            <img src="{{ req.plant_offered.thumbnail.image.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant" class='cover'>
                                        </figure>
                                        {% else %}
                                        <figure class='image is-4by3'>
                                            <img src="{{ req.plant_offered.picture.all.0.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant" class='cover'>
                                        </figure>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class='card-image'>
                                        <figure class='image is-4by3'>
                                            <img src="{% static 'plant_collection/placeholder-plant.png' %}" alt="Picture of a plant" class='cover'>
                                        </figure>
                                    </div>
                                {% endif %}
                            </div>

                            <div class='column is-8-widescreen is-6-desktop is-6-tablet'>
                                <div class='card-content'>
                                    <h2 class='subtitle is-size-4-desktop is-size-5-touch'>Plant: {{req.plant_offered.nick_name}}</h2>
                                    <h3 class='subtitle is-size-6-desktop is-size-6-touch'>Owner: <strong>{{req.plant_offered.owner}}</strong></h3>
                                    {% if 'trades' in request.path %}
                                    <h2 class='subtitle is-size-4-desktop is-size-5-touch'>Your Plant: {{req.plant_requested}}</h2>
                                    {% endif %}
                                    <h4 class='subtitle is-size-7'>Requested: {{req.plant_offered.created}}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow'>
                    You have received no trade offers.
                </div>
                {% endfor %}
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <div class='column is-6'>
        <div class='box'>
            <div class='columns is-multiline'>
                <h2 class='title is-size-3-widescreen is-size-4-desktop is-size-4-touch'>Your trade offers</h2>
                {% for offer in offers %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow trade-offer'>
                    <a href="{% url 'trades:trade_final' pk=offer.pk %}">      
                        <div class='columns is-gapless'>
                            <div class='column is-4-widescreen is-6-desktop is-6-tablet'>
                                {% if offer.plant_requested.picture.all %}
                                <div class='card-image'>
                                    {% if offer.plant_requested.thumbnail %}
                                    <figure class='image is-4by3'>
                                        <img src="{{ offer.plant_requested.thumbnail.image.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant" class='cover'>
                                    </figure>
                                    {% else %}
                                    <figure class='image is-4by3'>
                                        <img src="{{ offer.plant_requested.picture.all.0.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant" class='cover'>
                                    </figure>
                                    {% endif %}
                                </div>
                                {% else %}
                                <div class='card-image'>
                                    <figure class='image is-4by3'>
                                        <img src="{% static 'plant_collection/placeholder-plant.png' %}" alt="Picture of a plant" class='cover'>
                                    </figure>
                                </div>
                                {% endif %}
                            </div>

                            <div class='column is-8-widescreen is-6-desktop is-6-tablet'>
                                <div class='card-content'>
                                    <h2 class='subtitle is-size-4-desktop is-size-5-touch'>Plant: {{offer.plant_requested.nick_name}}</h2>
                                    <h3 class='subtitle is-size-6-desktop is-size-6-touch'>Owner: <strong>{{offer.plant_requested.owner}}</strong></h3>
                                    {% if 'trades' in request.path %}
                                    <h2 class='subtitle is-size-4-desktop is-size-5-touch'>Your Plant: {{offer.plant_offered}}</h2>
                                    {% endif %}
                                    <h4 class='subtitle is-size-7'>Requested: {{offer.plant_requested.created}}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow'>
                    You have not made any trade offers.
                </div>
                {% endfor %}
                <div class="divider"></div>
            </div>
        </div>
    </div>

</div>