<div class='card'>
    <div class='card-image carousel-box'>
        {% include "plant_collection/assets/carousel.html" %}
    </div>

    <div class='card-content'>
        <div class='columns is-mobile'>
            <div class='column is-half'>
                <div class='title is-size-4-desktop is-size-5-touch offered-plant'><a
                        href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a></div>
                <div class='subtitle is-size-5-desktop is-size-6-touch'>Owner: {{plant.owner}}</div>
            </div>
            <div class='column is-half'>
                <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-7-touch is-pulled-right'>
                    <span class='icon'>
                        <i class="fa-solid fa-store"></i>
                    </span>
                    {% if plant.location %}
                    {{plant.location}}
                    {% else %}
                    For Trade
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>