.red-check {
    color: hsl(0, 66%, 35%);

}

.green-check {
    color: #3A6B35;

}

.red-check-inactive {
    color: hsl(0, 66%, 35%);
    opacity: 0.4;
}

.green-check-inactive {
    color: #3A6B35;
    opacity: 0.4;
}

.decline-button {
    max-width: 10rem;
}

#accepted-button {
    max-width: 10rem;
}