<div class='carousel-box'>
    {% if plant.picture.all.count > 1 %}
        <div tabindex=0 class='arrow' id='left-arrow'></div>
        <div tabindex=0 class='arrow' id='right-arrow'></div>
    {% endif %}
    <div class='carousel_image'>
        <figure class='image is-4by3'>
            <img class='carousel' hidden src="{{ plant.thumbnail.image.image.url }}" alt="Picture of a plant">
        </figure>
    {% for picture in plant.picture.all %}
        {% if picture != plant.thumbnail.image %}
            <figure class='image is-4by3'>
                <img class='carousel' hidden src="{{ picture.image.url }}" alt="Picture of a plant">
            </figure>
        {% endif %}
    {% endfor %}
    </div>
</div>