.custom-vcentered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.red-check {
    color: #ff3860;

}

.green-check {
    color: #00d1b2;

}

.red-check-inactive {
    color: #ff3860;
    opacity: 0.4;
}

.green-check-inactive {
    color: #00d1b2;
    opacity: 0.4;
}