.back-image {
    background-image: url('background/plant.jpg');
    background-size: cover;
}

.footer {
    bottom: 0;
}

body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #4A4A4A #EDEDED;
}

.faded {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    }

.dropdown-item.is-active {
    background-color: rgb(49, 88, 45) !important;
}

.specie-list.is-active {
    background-color: rgb(49, 88, 45) !important;
}

.menu-list::-webkit-scrollbar {
    width: 0.5em;
    height: 100%;
    background-color: #ededed;
}
.menu-list::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 0.5em;
}