{% load cache %}
{% load static %}
<div class='columns is-multiline'>
    {% if 'my-collection' in request.path and current_page == 1 %}
    <div class='column is-4-desktop is-full-mobile is-3-widescreen is-6-tablet' style='min-height:40vh'>
        <a href="{% url 'plant_collection:add_plant' %}">
            <div class='card hover is-flex' style='height:100%'>
                <div style='margin:auto'>
                    <div class='card-image add-plant-center'>
                        <figure class='image is-96x96' style='margin:auto'>
                            <img src="{% static 'plant_collection/add-image.png' %}" alt="Add a new plant">
                        </figure>
                        <div class='card-content'>
                            <div class='title is-4'>
                                Add new plant
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </a>
    </div>
    {% endif %}
    {% if plants %}
    {% for plant in plants %}
    <div class='column is-4-desktop is-full-mobile is-3-widescreen is-6-tablet'>
        <div class='card hover'>

            {% if plant.picture.all %}
            <div class='card-image'>
                <figure class='image is-4by3'>
                    <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">
                        {% if plant.thumbnail %}
                        <img src="{{ plant.thumbnail.image.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant" loading='lazy' class="cover">
                        {% else %}
                        <img src="{{ plant.picture.all.0.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant" loading='lazy' class="cover">
                        {% endif %}
                    </a>
                </figure>
            </div>
            {% else %}
            <div class='card-image'>
                <figure class='image is-4by3'>
                    <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">
                        <img src="{% static 'plant_collection/placeholder-plant.png' %}" alt="Picture of a plant" loading='lazy' class="cover">
                    </a>
                </figure>
            </div>
            {% endif %}

            <div class='card-content columns is-mobile' style='margin:0; padding:0.5rem;'>
                <div class='column is-6'>
                    <h2 class='title is-size-4-widescreen is-size-4-touch is-size-5-desktop'>
                        <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a>
                    </h2>
                    <h3 class='subtitle is-size-6-widescreen is-size-6-touch is-size-6-desktop'>
                        {% if user == plant.owner or not user.is_authenticated %}
                        <span>{{plant.owner}}</span>
                        {% else %}
                        <span class='icon-text'>
                            <span>{{plant.owner}}</span>
                            <a href="{% url 'accounts:write_message' name=plant.owner %}" class="icon"><img src="{% static 'plant_collection/icons/envelope.svg' %}" alt="Message icon"></a>
                        </span>
                        {% endif %}
                    </h3>
                </div>


                <div class='column is-6'>
                    <h4 class='has-text-right'>
                        {% if plant.for_trade %}
                        <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-7-touch'>
                            <span class='icon'>
                                <img src="{% static 'plant_collection/icons/trade.svg' %}" alt="Trade icon">
                            </span>
                            {% if plant.location %}
                            {{plant.location}}
                            {% else %}
                            For Trade
                            {% endif %}
                        </span>
                        {% else %}
                        <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-7-touch'>
                            <span class='icon'>
                                <img src="{% static 'plant_collection/icons/no_trade.svg' %}" alt="Trade icon">
                            </span>
                            Not for Trade
                        </span>
                        {% endif %}
                    </h4>

                    <h5 class='has-text-right'>
                        {% csrf_token %}
                        {% if not user in plant.likes.all %}
                        <div>
                            <a class='heart' role='button' tabindex=0 data-plant='{{ plant.id }}' data-user='{{ user }}'><i class="fa-regular fa-heart has-text-danger"></i></a>
                        </div>
                        {% elif user in plant.likes.all %}
                        <div>
                            <a class='heart' role='button' tabindex=0 data-plant='{{ plant.id }}' data-user='{{ user }}'><i class="fa-solid fa-heart has-text-danger"></i></a>
                        </div>
                        {% endif %}
                        <div class='number_likes is-size-7 has-text-weight-bold' data-plant='{{ plant.id }}'>
                            {{ plant.number_of_likes }} like/s
                        </div>
                    </h5>
                </div>

            </div>
        </div>
    </div>
    {% empty %}
    <div class='column is-3-desktop is-full-mobile'>
        No plants :(
    </div>
    {% endfor %}
    {% endif %}
</div>