{% load static %}
<div class='column is-1-widescreen mt-3 pl-5 is-hidden-touch is-one-fifth-desktop' id='spiece-search-bar'>
    <aside class='menu'>
        <p class='menu-label'>
            <label for='ajax-search'>Search Species</label>
        </p>
        <div class="control has-icons-right">
            <input id='ajax-search' class="input is-small" type="text" name='search'
            placeholder="Search...">
            <span class="icon is-small is-right">
                <img src="{% static 'plant_collection/icons/search.svg' %}" >
            </span>
        </div>
        <p class='menu-label'>Species</p>   
        <ul class='menu-list' style='overflow:auto; height:145vh; scrollbar-width: thin;'>
            {% for specie in species %}
            <!-- if the specie is selected, then the class 'is-active' will be added to the <a> tag -->
            {% if selected_specie == specie.slug %}
            <li class='is-size-7-desktop is-size-7-widescreen is-size-6-fullhd'><a href="{% url 'plant_collection:front_page' specie=specie.slug order='-likes' pagination=1 %}" class='specie-list is-active'>{{specie}}</a></li>
            {% else %}
            <li class='is-size-7-desktop is-size-7-widescreen is-size-6-fullhd'><a href="{% url 'plant_collection:front_page' specie=specie.slug order='-likes' pagination=1 %}" class='specie-list'>{{specie}}</a></li>
            {% endif %}
            {% endfor %}
            <!-- if the number of species is less than 34, then the '...' button will not be displayed -->
            {% if species|length <= 34%}
                {% if selected_specie %}
                <li class='is-size-7-desktop is-size-7-widescreen is-size-6-fullhd'><a id='htmx-dud' hx-get={% url 'plant_collection:search' specie=selected_specie %} hx-trigger='click' hx-target='.menu-list' class='forest-green'>...</a></li>
                {% else %}
                <li class='is-size-7-desktop is-size-7-widescreen is-size-6-fullhd'><a id='htmx-dud' hx-get={% url 'plant_collection:search' %} hx-trigger='click' hx-target='.menu-list' class='forest-green'>...</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </aside>
</div>