<ul class='menu-list' style='overflow:auto; height:145vh; scrollbar-width: thin;'>
    {% for specie in species %}
    {% if selected_specie == specie.slug  %}
    <li class='is-size-7-desktop is-size-7-widescreen is-size-6-fullhd'><a href="{% url 'plant_collection:front_page' specie=specie.slug order='-likes' pagination=1 %}" class='specie-list is-active'><h2>{{specie}}</h2></a></li>
    {% else %}
    <li class='is-size-7-desktop is-size-7-widescreen is-size-6-fullhd'><a href="{% url 'plant_collection:front_page' specie=specie.slug order='-likes' pagination=1 %}" class='specie-list'><h2>{{specie}}</h2></a></li>
    {% endif %}
    {% endfor %}
</ul>