{% extends "base.html" %}
{% load error %}
{% load static %}
{% block header %}
<title>Registration - Plant Swap</title>
<link rel="stylesheet" href="{% static "accounts/css/max.css" %}">
{% endblock %}
{% block content %}
<form class='box mt-6 need-max' action="{% url 'accounts:registration' %}" method='post'>
    <h1 class='title forest-green' >Registration</h1>
    {% csrf_token %}
    {% for field in form %}
        <div class='label pt-3'>{{ field.label_tag }}</div>
        {% if field.errors %}
        <div class="control has-icons-left">
            {{ field|add_class:"is-danger input" }}
            <span class="icon is-small is-left">
                {% if field.label_tag == '<label for="id_username">User name:</label>' %}
                <i class="fa-solid fa-user"></i>
                {% elif field.label_tag == '<label for="id_email">Email address:</label>' %}
                <i class="fa-solid fa-envelope"></i>
                {% else %}
                <i class="fa-solid fa-lock"></i>
                {% endif %}
            </span>
        {% else %}
        <div class="control has-icons-left">
            {{ field }}
            <span class="icon is-small is-left">
                {% if field.label_tag == '<label for="id_username">User name:</label>' %}
                <i class="fa-solid fa-user"></i>
                {% elif field.label_tag == '<label for="id_email">Email address:</label>' %}
                <i class="fa-solid fa-envelope"></i>
                {% else %}
                <i class="fa-solid fa-lock"></i>
                {% endif %}
            </span>
        </div>
        {% endif %}
        {% if field.errors %}
            <div>
                <ul>
                    {% for error in field.errors %}
                        <li class='has-text-danger'>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
    <ul>
        {% for error in form.non_field_errors %}
                <li class='has-text-danger'>{{ error }}</li>
        {% endfor %}
        {{ password_valid }}
    </ul>
    <div class='container pt-5'>
        <input class='button forest-green-button' type="submit" value='Submit'>
        <a class='button' href="{% url 'accounts:login' %}">Login</a>
    </div>
</form>
{% endblock %}