{% extends "base.html" %}
{% load error %}
{% load static %}
{% block header %}
<title>Message - Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<link rel="stylesheet" href="{% static "accounts/css/max.css" %}">
{% endblock %}
{% block content %}
<section class='section'>
    <form class='box need-max-message' method='post' action="{% url 'accounts:write_message' name='@' %}">
        {% csrf_token %}
        {% for field in form %}
            <div class='label pt-3'>{{ field.label_tag }}</div>
            {% if field.errors %}
                {{field|add_class:'input is-danger'}}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.errors %}
                <div>
                    <ul>
                        {% for error in field.errors %}
                            <li class='has-text-danger'>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
        <div class="pt-5">
            <input class="button mustard-button" type="submit" value="Send">
        </div>
    </form>
</section>
{% endblock content %}