<html>
    <body>
        <div>
            <ul>
                <li>
                    <a href="{% url 'plant_collection:front_page' %}">Feed</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'plant_collection:personal_collection' %}">My collection</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:registration' %}">Registration</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>