<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "plant_collection/css/base.css" %}">
        <link rel="stylesheet" href="{% static 'plant_collection/css/hover.css' %}">
        <script src="https://kit.fontawesome.com/b2e6637db0.js" crossorigin="anonymous"></script>
        <script type='text/javascript' src="{% static 'plant_collection/javascript/jquery.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class='navbar' role='navigation' style='position:sticky !important'>

          <div class='navbar-brand'>
            <a href="{% url 'plant_collection:front_page' %}" class='navbar-item'>
              <i class="fa-solid fa-house"></i>Home
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'plant_collection:personal_collection' %}" class='navbar-item'>
              <i class="fa-solid fa-leaf"></i>My collection
            </a>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}" class='navbar-item is-hidden-desktop'>
              <i class="fa-solid fa-power-off"></i>Logout
            </a>
            {% else %}
            <a href="{% url 'accounts:login' %}" class='navbar-item is-hidden-desktop'>
              <i class="fa-solid fa-power-off"></i>Login/Signup
            </a>
            {% endif %}
          </div>

              
          <div class='navbar-menu'>
            <div class='navbar-start'>
            </div>
            <div class='navbar-end'>
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}" class='navbar-item'>
                  <span class='icon-text'><span class='icon'><i class="fa-solid fa-power-off"></i></span><span>Logout</span></span>
                </a>
                {% else %}
                <a href="{% url 'accounts:login' %}" class='navbar-item'>
                  <span class='icon-text'><span class='icon'><i class="fa-solid fa-user"></i></span><span>Login/Signup</span></span>
                </a>
                {% endif %}
            </div>
          </div>
        </nav>

 
            {% block content %}
            {% endblock %}
    </body>
</html>