{% extends "base.html" %}

{% block content %}
{% load static %}
<div class='columns is-mobile'>  
    <div class='column is-1 mt-3 pl-5 is-hidden-touch'>
        <aside class='menu'>
            <p class='menu-label'>
                Search Species
            </p>
            <div class="control has-icons-right">
                <input class="input is-small" type="text" name='search'
                placeholder="Search..." hx-trigger='click from:.is-success'
                hx-target='.menu-list' hx-get="{% url 'plant_collection:search' %}">
                <span class="icon is-small is-right">
                    <i class="fa-solid fa-search"></i>
                </span>
            </div>
            <div class="control">
                <button class="button is-small is-success">Search</button>
            </div>
            <p class='menu-label'>Species</p>   
            <ul class='menu-list'>
                {% for specie in species %}
                <li><a href="{% url 'plant_collection:species_list' nam=specie.name|slugify %}">{{specie}}</a></li>
                {% endfor %}
                <li><a id='htmx-dud' hx-patch="{% url 'plant_collection:search' %}" hx-trigger='click' hx-target='.menu-list'>...</a></li>
            </ul>
        </aside>
    </div>

    <div class='column is-11 ml-4'>

        <form class='container my-2' method'get' action="{% url 'plant_collection:front_page' %}">
            <div class="control has-icons-right">
                <input class="input is-small" type="text" name='search'
                placeholder="Search for plants...">
                <span class="icon is-small is-right" type='submit'>
                    <i class="fa-solid fa-search"></i>
                </span>
            </div>
        </form>


        <section class='section px-0 pt-0'>
        <div class='columns is-multiline'>
            {% if plants %}
            {% for plant in plants %}
            <div class='column is-3-desktop is-full-mobile'>
                <div class='card hover'>

                    {% if plant.picture %}
                    <div class='card-image'>
                        <figure class='image is-4by3'>
                            <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">
                                <img src="{{ plant.picture.all.0.image.url }}" alt="" width='500px'>
                            </a>
                        </figure>
                    </div>
                    {% endif %}

                    <div class='card-content columns'>
                        <div class='column'>
                            <div class='title is-4 is-align-self-flex-start'>
                                <a class='has-text-dark' href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a>
                            </div>
                            <div class='subtitle is-5'>
                                {{plant.owner}}
                            </div>
                        </div>


                        <div class='column pb-1'>
                            <div class='has-text-right pb-5'>
                                {% if plant.for_trade %}
                                <span class='icon-text has-text-weight-semibold'>
                                    <span class='icon'>
                                        <i class="fa-solid fa-store"></i>
                                    </span>
                                    For Trade
                                </span>
                                {% else %}
                                <span class='icon-text has-text-weight-semibold'>
                                    <span class='icon'>
                                        <i class="fa-solid fa-store-slash "></i>
                                    </span>
                                    Not for Trade
                                </span>
                                {% endif %}
                            </div>

                            <div class='has-text-right'>
                                {% csrf_token %}
                                {% if not user in plant.likes.all %}
                                <div>
                                    <a class='heart' data-plant='{{ plant.nick_name }}' data-user='{{ user }}'><i class="fa-regular fa-heart has-text-danger"></i></a>
                                </div>
                                {% elif user in plant.likes.all %}
                                <div>
                                    <a class='heart' data-plant='{{ plant.nick_name }}' data-user='{{ user }}'><i class="fa-solid fa-heart has-text-danger"></i></a>
                                </div>
                                {% endif %}
                                <div class='number_likes is-size-7 has-text-weight-bold' data-plant='{{ plant.nick_name }}'>
                                    {{ plant.number_of_likes }} like/s
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class='column is-3-desktop is-full-mobile'>
                No plants :(
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </section>
</div>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like.js' %}"></script>
{% endblock %}