{% extends "base.html" %}
{% load static %}
{% block header %}
<title>Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/like_animation.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/search_bar_pagination.css' %}">
{% endblock %}
{% block content %}
<div class='columns is-mobile'>

    {% include "plant_collection/search_species.html" %}

    <div class='column is-11-widescreen is-four-fifth-desktop' id='main-window'>

        {% include "plant_collection/general_search_bar.html" %}

        <section id='plants-dump' class='px-0 pt-0'>
            {% include "plant_collection/front_page_plants.html" %}
        </section>
    </div>
</div>
{% include "plant_collection/front_page_pagination.html" %}
<script src="{% static 'plant_collection/javascript/like.js' %}"></script>
<script src="{% static 'plant_collection/javascript/specie_search.js' %}"></script>
<script src="{% static 'plant_collection/javascript/like_animations.js' %}"></script>
<script src="{% static 'plant_collection/javascript/species_mobile.js' %}"></script>
{% endblock %}