{% extends "base.html" %}
{% load static %}
{% block header %}
<title>Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/like_animation.css' %}">
<style>
    .column.is-11 {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .search-bar {
        width: 80%;
        margin-top: 2px;
        margin-bottom: 15px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .pagination {
        width:auto;
    }

    @media screen and (max-width: 768px) {
        .search-bar {
            margin-top: 10px
            padding-top: 10px;
        }
        .pagination {
            margin-top:3rem;
        }
    }

    @media screen and (min-width: 768px) {
        .columns.is-mobile{
            margin-right:1rem
        }
    }
</style>
{% endblock %}
{% block content %}
<div class='columns is-mobile'>  
    <div class='column is-1 mt-3 pl-5 is-hidden-touch'>
        <aside class='menu'>
            <p class='menu-label'>
                Search Species
            </p>
            <div class="control has-icons-right">
                <input id='ajax-search' class="input is-small" type="text" name='search'
                placeholder="Search...">
                <span class="icon is-small is-right">
                    <i class="fa-solid fa-search mustard"></i>
                </span>
            </div>
            <p class='menu-label'>Species</p>   
            <ul class='menu-list' style='overflow:auto; height:145vh; scrollbar-width: thin;'>
                {% for specie in species %}
                <li><a href="{% url 'plant_collection:species_list' nam=specie.name|slugify %}" class='forest-green'>{{specie}}</a></li>
                {% endfor %}
                <li><a id='htmx-dud' hx-patch="{% url 'plant_collection:search' %}" hx-trigger='click' hx-target='.menu-list' class='forest-green'>...</a></li>
            </ul>
        </aside>
    </div>
    <div class='column is-11'>

        <form class='search-bar' method'get' action="{% url 'plant_collection:front_page' %}">
            <div class="control has-icons-right">
                <input class="input is-small" type="text" name='search'
                placeholder="Search for plants...">
                <span class="icon is-small is-right" type='submit'>
                    <i class="fa-solid fa-search mustard"></i>
                </span>
            </div>
        </form>
        <div id='plants-dump'>
{% include "plant_collection/front_page_plants.html" %}
        </div>
    </div>
</div>
{% include "plant_collection/front_page_pagination.html" %}
<script type='text/javascript' src="{% static 'plant_collection/javascript/like.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/specie_search.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like_animations.js' %}"></script>
{% endblock %}