{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    output .image span {
        position: absolute;
        top: -4px;
        right: 4px;
        cursor: pointer;
        font-size: 22px;
        color: white;
      }
      
      output .image span:hover {
        opacity: 0.8;
      }
      
      output .span--hidden{
        visibility: hidden;
      }
</style>
<form enctype='multipart/form-data' class='box' action="{% url 'plant_collection:add_plant' %}" method='post'>
    {% csrf_token %}

        <div class='field'>
            <label class='label pt-3'>{{ form.nick_name.label_tag }}</label>
            <div class='control'>{{ form.nick_name }}</div>
        </div>
        {% if form.nick_name.errors %}
            <div>
                <ul>
                    {% for error in form.nick_name.errors %}
                        <li class='has-text-danger'>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class='field'>
            <label class='label pt-3'>{{ form.species.label_tag }}</label>
            <div class='control'>{{ form.species }}</div>
        </div>
        {% if form.species.errors %}
            <div>
                <ul>
                    {% for error in form.species.errors %}
                        <li class='has-text-danger'>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div>
            <label class='label pt-3'>{{ form.for_trade.label_tag }}</label>
            <div class='control'>{{ form.for_trade }}</div>
        </div>
        {% if form.for_trade.errors %}
            <div>
                <ul>
                    {% for error in form.for_trade.errors %}
                        <li class='has-text-danger'>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class='input_container' id='replicator'>
            <div class='field' id='hiding0'>
                <div id='file-js-example' class='file is-medium is-boxed'>
                    <label class='file-label pt-3'>
                        <input class='input_tag0 file_input' id='input_tag0' hidden type='file' accept='image/*' name='picture0'>
                        <span class='file-cta'>
                            <span class='file-icon'>
                                <i class='fa-solid fa-image'></i>
                            </span>
                            <span class='file-label'>
                                Upload image...
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        {% if form.picture.errors %}
            <div>
                <ul>
                    {% for error in form.picture.errors %}
                        <li class='has-text-danger'>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    <div class='container pt-4'>
        <input id='submit-btn' class='button' type="submit" value='Submit'>
    </div>
</form>
<output class='columns'></output>

<script type='text/javascript' src="{% static 'plant_collection/javascript/add_plant.js' %}"></script>
{% endblock %}