{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block header %}
<title>My Plants - Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/like_animation.css' %}">
<style>
    @media (max-width: 1000px) {
        .add-plant-center {
            margin-top: 15vh;
            margin-bottom: 15vh;            
        }


        .column.is-3-desktop.is-full-touch:nth-of-type(2) {
            margin-top: 5vw;
        }
    }
</style>
{% endblock %}
<section class='section'>
    <div class='columns is-multiline'>
        <div class='column is-4-desktop is-full-mobile is-3-widescreen is-6-tablet'>
                <a href="{% url 'plant_collection:add_plant' %}">
                    <div class='card hover is-flex' style='height:100%'>
                        <div style='margin:auto'>
                            <div class='card-image add-plant-center'>
                                <figure class='image is-96x96' style='margin:auto'>
                                    <img src="/media/pics/add-image.png" alt="Add a new plant">
                                </figure>
                                <div class='card-content'>
                                    <div class='title is-4'>
                                        Add new plant
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </a>
        </div>
        {% if plants %}
        {% for plant in plants %}
        <div class='column is-4-desktop is-full-mobile is-3-widescreen is-6-tablet'>
            <div class='card hover'>

                {% if plant.picture %}
                <div class='card-image'>
                    <figure class='image is-4by3'>
                        <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">
                            <img src="{{ plant.picture.all.0.image.url }}" alt="Picture of a plant" width='500px'>
                        </a>
                    </figure>
                </div>
                {% endif %}

                <div class='card-content columns is-mobile' style='margin:0; padding:0.5rem;'>
                    <div class='column is-6'>
                        <div class='title is-size-4-widescreen is-size-4-touch is-size-5-desktop'>
                            <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a>
                        </div>
                        <div class='subtitle is-size-6-widescreen is-size-6-touch is-size-6-desktop'>
                            {{plant.owner}}
                        </div>
                    </div>


                    <div class='column is-6'>
                        <div class='has-text-right'>
                            {% if plant.for_trade %}
                            <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-6-touch'>
                                <span class='icon'>
                                    <i class="fa-solid fa-store"></i>
                                </span>
                                For Trade
                            </span>
                            {% else %}
                            <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-6-touch'>
                                <span class='icon'>
                                    <i class="fa-solid fa-store-slash "></i>
                                </span>
                                Not for Trade
                            </span>
                            {% endif %}
                        </div>

                        <div class='has-text-right'>
                            {% csrf_token %}
                            {% if not user in plant.likes.all %}
                            <div>
                                <a class='heart' tabindex=0 data-plant='{{ plant.nick_name }}' data-user='{{ user }}'><i class="fa-regular fa-heart has-text-danger"></i></a>
                            </div>
                            {% elif user in plant.likes.all %}
                            <div>
                                <a class='heart' tabindex=0 data-plant='{{ plant.nick_name }}' data-user='{{ user }}'><i class="fa-solid fa-heart has-text-danger"></i></a>
                            </div>
                            {% endif %}
                            <div class='number_likes is-size-7 has-text-weight-bold' data-plant='{{ plant.nick_name }}'>
                                {{ plant.number_of_likes }} like/s
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like_animations.js' %}"></script>
{% endblock %}