{% extends 'base.html' %}
{% load static %}
{% block header %}
<title>My Plants - Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/like_animation.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/collection.css' %}">
{% endblock %}
{% block content %}
<section class='section'>
    {% include "plant_collection/assets/plants_gallery.html" %}
</section>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/like_animations.js' %}"></script>
{% endblock %}