<div class='columns is-multiline'>
    {% if plants %}
    {% for plant in plants %}
    <div class='column is-3-desktop is-full-touch'>
        <div class='card hover'>

            {% if plant.picture %}
            <div class='card-image'>
                <figure class='image is-4by3'>
                    <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">
                        <img src="{{ plant.picture.all.0.image.url }}" alt="Picture of a plant">
                    </a>
                </figure>
            </div>
            {% endif %}

            <div class='card-content columns is-mobile'>
                <div class='column'>
                    <div class='title is-size-4-desktop is-size-5-touch'>
                        <a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a>
                    </div>
                    <div class='subtitle is-size-5-desktop is-size-6-touch'>
                        {% if user == plant.owner %}
                        <span>{{plant.owner}}</span>
                        {% else %}
                        <span class='icon-text'>
                            <span>{{plant.owner}}</span>
                            <span class='icon'>
                                <a href="{% url 'accounts:write_message' name=plant.owner %}"><i class="fa-solid fa-envelope fa-xs"></i></a>
                            </span>
                        </span>
                        {% endif %}
                    </div>
                </div>


                <div class='column pb-1'>
                    <div class='has-text-right pb-3'>
                        {% if plant.for_trade %}
                        <span class='icon-text has-text-weight-semibold is-size-6-desktop is-size-7-touch'>
                            <span class='icon'>
                                <i class="fa-solid fa-store"></i>
                            </span>
                            For Trade
                        </span>
                        {% else %}
                        <span class='icon-text has-text-weight-semibold is-size-6-desktop is-size-7-touch'>
                            <span class='icon'>
                                <i class="fa-solid fa-store-slash "></i>
                            </span>
                            Not for Trade
                        </span>
                        {% endif %}
                    </div>

                    <div class='has-text-right'>
                        {% csrf_token %}
                        {% if not user in plant.likes.all %}
                        <div>
                            <a class='heart' tabindex=0 data-plant='{{ plant.nick_name }}' data-user='{{ user }}'><i class="fa-regular fa-heart has-text-danger"></i></a>
                        </div>
                        {% elif user in plant.likes.all %}
                        <div>
                            <a class='heart' tabindex=0 data-plant='{{ plant.nick_name }}' data-user='{{ user }}'><i class="fa-solid fa-heart has-text-danger"></i></a>
                        </div>
                        {% endif %}
                        <div class='number_likes is-size-7 has-text-weight-bold' data-plant='{{ plant.nick_name }}'>
                            {{ plant.number_of_likes }} like/s
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% empty %}
    <div class='column is-3-desktop is-full-mobile'>
        No plants :(
    </div>
    {% endfor %}
    {% endif %}
</div>