{% extends "base.html" %}
{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'plant_collection/css/plant.css' %}">
</head>
<div class='box'>
    <div class='columns'>
        <div class='column is-half'>
            <div class="container">
                <div class='carousel_box'>
                    <button id="left-btn" class='carousel_button'><i class="arrow"></i></button>
                        {% for picture in plant.picture.all %}
                        <div class='carousel_image'>
                            <figure class='image is-4by3'>
                                <img class='carousel' hidden src="{{ picture.image.url }}" alt="">
                            </figure>
                        </div>
                        {% endfor %}
                    <button id="right-btn" class='carousel_button'><i class="arrow"></i></button>
                </div>
            </div>
        </div>
        <div class='column is-half'>
            <div class='container'>
                <div class='block m-6'>
                    <div class='title'>
                        {{plant.nick_name}}
                    </div>
                    <div class='block'>
                        <div class='subtitle is-5'>
                            Owned by {{plant.owner}}
                        </div>
                    </div>
                    <span class='icon-text'>
                        <span class='icon'>
                            <i class="fa-solid fa-store-slash"></i>
                        </span>
                        Not for Trade
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src="{% static 'plant_collection/javascript/plant_carousel.js' %}"></script>
{% endblock %}