<div class='card carousel_box'>
    <div class='card-image'>

        <div class='columns is-overlay overlay-element is-mobile' style='z-index: 2; position:absolute; margin-bottom:0 '>
            <div class='column arrow' id='left-arrow1'></div>
            <div class='column arrow' id='right-arrow1'></div>
        </div>

        {% for picture in plant.picture.all %}
        <div class='carousel_image1'>
            <figure class='image is-4by3'>
                    <img class='carousel' src="{{ picture.image.url }}" alt="Picture of a plant">
            </figure>
        </div>
        {% endfor %}
    </div>

    <div class='card-content'>
        <div class='columns is-mobile'>
            <div class='column is-half'>
                <div class='title is-size-4-desktop is-size-5-touch offered-plant'><a href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a></div>
                <div class='subtitle is-size-5-desktop is-size-6-touch'>Owner: {{plant.owner}}</div>
            </div>
            <div class='column is-half'>
                <div class='is-pulled-right is-size-7 has-text-weight-bold'><i class="fa-solid fa-heart has-text-danger is-size-6"></i> {{plant.number_of_likes}} likes</div>
            </div>
        </div>
    </div>
</div>