<div class='card'>
    <div class='card-image carousel-box'>
        {% include "plant_collection/assets/carousel.html" %}
    </div>

    <div class='card-content'>
        <div class='columns is-mobile'>
            <div class='column is-half'>
                <div class='title is-size-4-desktop is-size-5-touch offered-plant'><a
                        href="{% url 'plant_collection:plant_view' slug=plant.slug %}">{{plant.nick_name}}</a></div>
                <div class='subtitle is-size-5-desktop is-size-6-touch'>Owner: {{plant.owner}}</div>
            </div>
            <div class='column is-half'>
                <div class='is-pulled-right is-size-7 has-text-weight-bold'><i
                        class="fa-solid fa-heart has-text-danger is-size-6"></i> {{plant.number_of_likes}} likes</div>
            </div>
        </div>
    </div>
</div>