{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<style>
    .custom-vcentered {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
</style>
<link rel="stylesheet" href="{% static 'plant_collection/css/plant.css' %}">
{% if errors %}
{% for error in errors %}
<div class="notification is-danger is-light has-text-centered">
    {{ error }}
</div>
{% endfor %}
{% endif %}
<section class="section">
    <div class='columns'>

        <div class='column is-5'>
            <div class='is-flex is-justify-content-center mb-2'>

                <div class='dropdown'>
                    <div class='dropdown-trigger'>
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>Select plant for trade...</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% if user.plants %}
                            {% for plant in user.plants.all %}
                            <a class="dropdown-item">
                                {{ plant.nick_name }}
                            </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
            <div id='dump'>

            </div>
        </div>

        <form class='column is-2 custom-vcentered' method='post'>
            {% csrf_token %}
            <input id='offered' type="text" hidden name='offered'>
            <input type="text" hidden name='requested' value='{{req.nick_name}}'>
            <div class='is-flex is-justify-content-center is-vcentered'>
                <input class='button forest-green-button is-large is-responsive' id='trade-button' type='submit' value='Trade'>
            </div>
        </form>

        <div class='column is-5 mt-6'>
            <div class='card carousel_box'>



                <div class='card-image'>

                    <div class='columns is-overlay overlay-element is-mobile' style='z-index: 2; position:absolute; margin-bottom:0 '>
                        <div class='column arrow' id='left-arrow'></div>
                        <div class='column arrow' id='right-arrow'></div>
                    </div>

                    {% for picture in req.picture.all %}
                    <div class='carousel_image'>
                        <figure class='image is-4by3'>
                                <img class='carousel' src="{{ picture.image.url }}">
                        </figure>
                    </div>
                    {% endfor %}
                </div>


                <div class='card-content'>
                    <div class='columns is-mobile'>
                        <div class='column is-half'>
                            <div class='title is-size-4-desktop is-size-5-touch'><a href="{% url 'plant_collection:plant_view' slug=req.slug %}">{{req.nick_name}}</a></div>
                            <div class='subtitle is-size-5-desktop is-size-6-touch'>Owner: {{req.owner}}</div>
                        </div>
                        <div class='column is-half'>
                            <div class='is-pulled-right is-size-7 has-text-weight-bold'><i class="fa-solid fa-heart has-text-danger is-size-6"></i> {{req.number_of_likes}} likes</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<script type='text/javascript' src="{% static 'plant_collection/javascript/trade.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/trade_carousel.js' %}"></script>
{% endblock content %}