{% extends "base.html" %}
{% load static %}
{% block header %}
<title>My Messages - Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<link rel="stylesheet" href="{% static "accounts/css/max.css" %}">
<style>
    .delete-button {
        margin-top: 2vw;
        margin-bottom: 1vw;
    }

</style>
{% endblock %}
{% block content %}
<section class='section'>
    <form class='box need-max-message' method='post' action="{% url 'accounts:messages' %}">
        {% csrf_token %}
        <a href="{% url 'accounts:write_message' name='@' %}" ><div class='button forest-green-button is-responsive'>Write a Message</div></a>
        <div class="delete-button"><input type="submit" value='Delete Selected' class='button decline-button is-responsive'></div>

        <div>
            <table class='table is-hoverable is-fullwidth'>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    {% if not message.read %}
                    <tr class='has-text-weight-bold is-size-6-desktop is-size-7-touch'>
                        <td style="width:0"><input name="{{message.slug_subject}}" type="checkbox" class='message-checkbox'></td>
                        <td style='width:15%'><a href="{% url 'accounts:write_message' name=message.sender %}">{{ message.sender }}</a></td>
                        <td><a href="{% url 'accounts:message' slug=message.slug_subject %}">{{ message.subject }}</a></td>
                        {% if message.older %}
                        <td style='width:50%'>{{ message.date_sent|date }}</td>
                        {% elif not message.older %}
                        <td style='width:25%'>{{ message.date_sent|time }}</td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr class="is-size-6-desktop is-size-7-touch">
                        <td style="width:0"><input name="{{message.slug_subject}}" type="checkbox" class='message-checkbox'></td>
                        <td style='width:15%'><a href="{% url 'accounts:write_message' name=message.sender %}">{{ message.sender }}</a></td>
                        <td><a href="{% url 'accounts:message' slug=message.slug_subject %}">{{ message.subject }}</a></td>
                        {% if message.older %}
                        <td style='width:25%'>{{ message.date_sent|date }}</td>
                        {% elif not message.older %}
                        <td style='width:25%'>{{ message.date_sent|time }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </form>
</section>
<script type='text/javascript' src="{% static 'accounts/javascript/select_all_messages_delete.js' %}"></script>
{% endblock content %}