{% extends "base.html" %}
{% load static %}
{% block header %}
<title>My Messages - Plant Swap</title>
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
<link rel="stylesheet" href="{% static "accounts/css/max.css" %}">
<style>
    table{
        margin-top: 2vh;
    }

</style>
{% endblock %}
{% block content %}
<section class='section'>
    <form class='box need-max-message' method='post' action="{% url 'accounts:messages' %}">
        {% csrf_token %}
        <a class='button forest-green-button is-responsive' href="{% url 'accounts:write_message' name='@' %}" >Write a Message</a>
        <a class="button decline-button is-responsive modal_open" disabled tabindex=0>Delete Selected</a>

        <div class='modal'>
            <div class='modal-background'></div>
            <div class='modal-content'>
                <div class='box'>
                    <div class='block'>Are you sure you want to delete selected messages?</div>
                    <input type="submit" value='Yes, Delete Selected' class='button decline-button is-responsive'>
                </div>
            </div>
            <button class='modal-close is-large' aria-label='close'></a>
        </div>

        <div>
            <table class='table is-hoverable is-fullwidth'>
                <thead>
                    <tr>
                        <th><input class='message-checkbox' type="checkbox" aria-label='Select all' id="select-all"></th>
                        <th>From</th>
                        <th>Subject</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    {% if not message.read %}
                    <tr class='has-text-weight-bold is-size-6-desktop is-size-7-touch'>
                        <td style="width:0"><input aria-label='Select message' name="{{message.slug_subject}}" type="checkbox" class='message-checkbox'></td>
                        <td style='width:15%'><a href="{% url 'accounts:write_message' name=message.sender %}">{{ message.sender }}</a></td>
                        <td><a href="{% url 'accounts:message' slug=message.slug_subject %}">{{ message.subject }}</a></td>
                        {% if message.older %}
                        <td style='width:50%'>{{ message.date_sent|date }}</td>
                        {% elif not message.older %}
                        <td style='width:25%'>{{ message.date_sent|time }}</td>
                        {% endif %}
                    </tr>
                    {% else %}
                    <tr class="is-size-6-desktop is-size-7-touch">
                        <td style="width:0"><input name="{{message.slug_subject}}" type="checkbox" class='message-checkbox'></td>
                        <td style='width:15%'><a href="{% url 'accounts:write_message' name=message.sender %}">{{ message.sender }}</a></td>
                        <td><a href="{% url 'accounts:message' slug=message.slug_subject %}">{{ message.subject }}</a></td>
                        {% if message.older %}
                        <td style='width:25%'>{{ message.date_sent|date }}</td>
                        {% elif not message.older %}
                        <td style='width:25%'>{{ message.date_sent|time }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </form>
</section>
<script type='text/javascript' src="{% static 'accounts/javascript/select_all_messages_delete.js' %}"></script>
<script type='text/javascript' src="{% static 'plant_collection/javascript/delete_modal.js' %}"></script>
{% endblock content %}