{% extends "base.html" %}
{% load static %}
{% block header %}
<title>My Trade Offers - Plant Swap</title>
<link rel="stylesheet" href="{% static "plant_collection/css/divider.css" %}">
<style>
    @media (max-width: 768px) {
        .columns.mx-2 {
            margin: 0px !important;
        }
        .title.is-size-1-desktop.is-size-4-touch.has-text-centered {
            margin-bottom: 0;
        }
    }

    .trade-offer:hover {
        background-color: #F5F5F5;
    }
</style>
{% endblock %}
{% block content %}
<h1 class='title is-size-1-desktop is-size-4-touch has-text-centered'>My trade offers</h1>
{% if confirmations %}
<div class="notification is-success is-light has-text-centered">
    {{ confirmations }}
</div>
{% endif %}
<div class='columns mx-2'>

    <div class='column is-6'>
        <div class='box'>
            <div class='columns is-multiline'>
                <h2 class='title is-size-3-desktop is-size-5-touch'>Trade offers made to you</h2>
                {% for req in requests %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow trade-offer'>
                    <a href="{% url 'accounts:trade' pk=req.pk %}">
                        <div class='columns is-gapless'>
                            <div class='column is-4'>
                                <div class='card-image'>
                                    <figure class='image is-4by3'>
                                        <img src="{{ req.plant_offered.picture.all.0.image.url }}" alt="Picture of a plant">
                                    </figure>
                                </div>
                            </div>

                            <div class='column is-8'>
                                <div class='card-content'>
                                    <div class='title is-size-4-desktop is-size-5-touch'>Name: {{req.plant_offered.nick_name}}</div>
                                    <div class='title is-size-6-desktop is-size-6-touch has-text-weight-semibold'>Owner: {{req.plant_offered.owner}}</div>
                                    <div class='title is-size-4-desktop is-size-5-touch'>They are interested in: {{req.plant_requested}}</div>
                                    <div class='title is-size-7'>Requested: {{req.plant_offered.created}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow'>
                    You have received no trade offers.
                </div>
                {% endfor %}
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <div class='column is-6'>
        <div class='box'>
            <div class='columns is-multiline'>
                <h2 class='title is-size-3-desktop is-size-5-touch'>Your trade offers</h2>
                {% for offer in offers %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow trade-offer'>
                    <a href="{% url 'accounts:trade' pk=offer.pk %}">      
                        <div class='columns is-gapless'>
                            <div class='column is-4'>
                                <div class='card-image'>
                                    <figure class='image is-4by3'>
                                        <img src="{{ offer.plant_requested.picture.all.0.image.url }}" alt="Picture of a plant">
                                    </figure>
                                </div>
                            </div>

                            <div class='column is-8'>
                                <div class='card-content'>
                                    <div class='title is-size-4-desktop is-size-5-touch'>Name: {{offer.plant_requested.nick_name}}</div>
                                    <div class='title is-size-6-desktop is-size-6-touch has-text-weight-semibold'>Owner: {{offer.plant_requested.owner}}</div>
                                    <div class='title is-size-4-desktop is-size-5-touch'>You are offering: {{offer.plant_offered}}</div>
                                    <div class='title is-size-7'>Requested: {{offer.plant_requested.created}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="divider"></div>
                <div class='column is-12 is-narrow'>
                    You have not made any trade offers.
                </div>
                {% endfor %}
                <div class="divider"></div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}