{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="{% static "plant_collection/css/base.css" %}">
{% block content %}
<div class='container'>
    <form class='box mt-6' action="{% url 'accounts:registration' %}" method='post'>
        <h1 class='title' >Registration</h1>
        {% csrf_token %}
        {% for field in form %}
            <div class='label pt-3'>{{ field.label_tag }}</div>
            {% if field.errors %}
                {% render_field field class='input is-danger'%}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.errors %}
                <div>
                    <ul>
                        {% for error in field.errors %}
                            <li class='has-text-danger'>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
        <ul>
            {% for error in form.non_field_errors %}
                    <li class='has-text-danger'>{{ error }}</li>
            {% endfor %}
            {{ password_valid }}
        </ul>
        <div class='container pt-5'>
            <input class='button' type="submit" value='Submit'>
            <a class='button' href="{% url 'accounts:login' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}