{% extends "base.html" %}
{% load static %}
{% block header %}
<title>Pending Trade - Plant Swap</title>
<link rel="stylesheet" href="{% static 'trades/css/trade_final.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/plant.css' %}">
<link rel="stylesheet" href="{% static 'plant_collection/css/no_padding_section.css' %}">
{% endblock %}
{% block content %}
{% if errors %}
{% for error in errors %}
<div class="notification is-danger is-light has-text-centered">
    {{ error }}
</div>
{% endfor %}
{% endif %}
<section class='section'>
    <div class='columns'>

        <div class='column is-5'>
            <div class='card carousel_box'>

                {%if trade.plant_offered.picture.all %}
                <div class='card-image carousel-box'>
                    {% if trade.plant_offered.picture.all.count > 1 %}
                        <div tabindex=0 class='arrow' id='left-arrow'></div>
                        <div tabindex=0 class='arrow' id='right-arrow'></div>
                    {% endif %}
                    {% if trade.plant_offered.thumbnail %}
                    <div class='carousel_image'>
                        <figure class='image is-4by3'>
                            <lr-img class='carousel contain' src="{{ trade.plant_offered.thumbnail.image.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant"/>
                        </figure>
                    </div>
                    {% endif %}
                    {% for picture in trade.plant_offered.picture.all %}
                        {% if picture != trade.plant_offered.thumbnail.image %}
                        <div class='carousel_image'>
                            <figure class='image is-4by3'>
                                <lr-img class='carousel contain' src="{{ picture.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant"/>
                            </figure>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <figure class='image is-4by3'>
                    <img class='carousel contain' src="{% static 'plant_collection/placeholder-plant.png' %}" alt="Picture of a plant">
                </figure>
                {% endif %}

                <div class='card-content'>
                    <div class='columns is-mobile'>
                        <div class='column is-half'>
                            <div class='title is-size-4-desktop is-size-5-touch'><a id="offerer" href="{% url 'plant_collection:plant_view' slug=trade.plant_offered.slug %}">{{trade.plant_offered.nick_name}}</a></div>
                            <div class='subtitle is-size-5-desktop is-size-6-touch'>
                                {% if user == trade.plant_offered.owner %}
                                <span>{{trade.plant_offered.owner}}</span>
                                {% else %}
                                <span class='icon-text'>
                                    <span>{{trade.plant_offered.owner}}</span>
                                    <span class='icon'>
                                        <a href="{% url 'accounts:write_message' name=trade.plant_offered.owner %}"><i class="fa-solid fa-envelope fa-xs"></i></a>
                                    </span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class='column is-half'>
                            <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-6-touch is-pulled-right'>
                                <span class='icon'>
                                    <i class="fa-solid fa-store"></i>
                                </span>
                                {% if plant.location %}
                                {{plant.location}}
                                {% else %}
                                For Trade
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class='column is-2 is-flex is-justify-content-center is-flex-direction-column is-align-items-center' method="post" style='gap:2rem'>
            {% csrf_token %}
            {% if trade.accepted and not trade.finalized%}
            <div class="is-flex" style='gap:5vw'>
                {% if trade.plant_offered.owner == user %}
                    {% if trade.offered_finalized %}
                    <a tabindex=0><i class="fa-solid fa-circle-check is-size-1 green-check sendable"></i></a>
                    {% elif not trade.offered_finalized %}
                    <a tabindex=0><i class="fa-solid fa-circle-check is-size-1 red-check sendable"></i></a>
                    {% endif %}
                {% else %}
                    {% if trade.offered_finalized %}
                    <i class="fa-solid fa-circle-check is-size-1 green-check-inactive"></i>
                    {% elif not trade.offered_finalized %}
                    <i class="fa-solid fa-circle-check is-size-1 red-check-inactive"></i>
                    {% endif %}
                {% endif %}
                {% if trade.plant_requested.owner == user %}
                    {% if trade.requested_finalized %}
                    <a tabindex=0><i class="fa-solid fa-circle-check is-size-1 green-check sendable"></i></a>
                    {% elif not trade.requested_finalized %}
                    <a tabindex=0><i class="fa-solid fa-circle-check is-size-1 red-check sendable"></i></a>
                    {% endif %}
                {% else %}
                    {% if trade.requested_finalized %}
                    <i class="fa-solid fa-circle-check is-size-1 green-check-inactive"></i>
                    {% elif not trade.requested_finalized %}
                    <i class="fa-solid fa-circle-check is-size-1 red-check-inactive"></i>
                    {% endif %}
                {% endif %}
            </div>
            {% elif not trade.accepted and not trade.finalized %}
            
                {% if trade.accepted == False %}
                    <input disabled class='button decline-button is-large is-responsive' id='decline-button' type='submit' value='Declined'>
                {% elif trade.accepted == null and user == trade.initiator %}
                    <input class='button decline-button is-large is-responsive' id='decline-button' type='submit' value='Retract' name='retract'>
                {% else %}
                    <input class='button forest-green-button is-large is-responsive' id='accepted-button' type='submit' value='Accept' name='accept'>
                    <input class='button decline-button is-large is-responsive' id='decline-button' type='submit' value='Decline' name='decline'>
                {% endif %}
            
            {% elif trade.finalized %}
            <div class="is-flex container">
                <i class="fa-solid fa-circle-check is-size-1 green-check-inactive"></i>
                <i class="fa-solid fa-circle-check is-size-1 green-check-inactive"></i>
            </div>
            {% endif %}
        </form>



        <div class='column is-5'>
            <div class='card carousel_box'>

                {% if trade.plant_requested.picture.all%}
                <div class='card-image carousel-box'>
                    {% if trade.plant_requested.picture.all.count > 1 %}
                        <div tabindex=0 class='arrow' id='left-arrow1'></div>
                        <div tabindex=0 class='arrow' id='right-arrow1'></div>
                    {% endif %}
                    {% if trade.plant_requested.thumbnail %}
                    <div class='carousel_image1'>
                        <figure class='image is-4by3'>
                            <lr-img class='carousel contain' src="{{ trade.plant_requested.thumbnail.image.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant">
                        </figure>
                    </div>
                    {% endif %}
                    {% for picture in trade.plant_requested.picture.all %}
                        {% if picture != trade.plant_requested.thumbnail.image %}
                        <div class='carousel_image1'>
                            <figure class='image is-4by3'>
                                <lr-img class='carousel contain' src="{{ picture.image }}-/quality/smart/-/format/auto/" alt="Picture of a plant">
                            </figure>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                <figure class='image is-4by3'>
                    <img class='carousel contain' src="{% static 'plant_collection/placeholder-plant.png' %}" alt="Picture of a plant">
                </figure>
                {% endif %}


                <div class='card-content'>
                    <div class='columns is-mobile'>
                        <div class='column is-half'>
                            <div class='title is-size-4-desktop is-size-5-touch'><a id="requester" href="{% url 'plant_collection:plant_view' slug=trade.plant_requested.slug %}">{{trade.plant_requested.nick_name}}</a></div>
                            <div class='subtitle is-size-5-desktop is-size-6-touch'>
                                {% if user == trade.plant_requested.owner %}
                                <span>{{trade.plant_requested.owner}}</span>
                                {% else %}
                                <span class='icon-text'>
                                    <span>{{trade.plant_requested.owner}}</span>
                                    <span class='icon'>
                                        <a href="{% url 'accounts:write_message' name=trade.plant_requested.owner %}"><i class="fa-solid fa-envelope fa-xs"></i></a>
                                    </span>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class='column is-half'>
                            <span class='icon-text has-text-weight-semibold is-size-7-desktop is-size-6-touch is-pulled-right'>
                                <span class='icon'>
                                    <i class="fa-solid fa-store"></i>
                                </span>
                                {% if plant.location %}
                                {{plant.location}}
                                {% else %}
                                For Trade
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script type='text/javascript' src="{% static 'trades/javascript/trade_carousels.js' %}"></script>
<script type='text/javascript' src="{% static 'trades/javascript/trade_finalization.js' %}"></script>
{% endblock content %}