dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog {
    border:0;
    border-radius: 0.5rem;
}

#thumbnail-form {
    width: 50vw;
    height: 50vh;
    scrollbar-width: thin;
    overflow-x: hidden;
    padding: 1rem;
    margin: 0;
}

.thumbnail {
    border: 5px solid transparent;
    border-radius: 0.5rem;
}

.selected {
    border: 5px solid #FFC107;
    border-radius: 0.5rem;
}