@media (max-width: 768px) {
    .columns.mx-2 {
        margin: 0px !important;
    }
    .title.is-size-1-widescreen {
        margin-bottom: 0;
    }
}

.trade-offer:hover {
    background-color: #F5F5F5;
}

.card-content {
    padding-top: 0;
}