.need-max {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.need-max-message {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-top: 2vh;
}

/*Adjusting the caret position*/
.fa-caret-up {
    position: relative;
    top: 0.25rem;
}